*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 } 
 #out-container{
    border: 2px black solid;
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
} 
 .right-container , .left-container{
    border: 2px red solid;
    width: 15.3rem;
    height: 17rem;
} 
.right-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: ;
}
h3{
    align-self: center;
    margin-bottom: 5rem;
}
.space{
    border: 2px blue solid;
    height:;
}
/* .form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
} */
/* .form2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
} */
.middle-container{
    border: 2px black solid;
    width: 4rem;
    height: 17rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    }
.middle-container div{
    border-left: 2px gray solid;
    height: 15rem;
}
.left-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.bottom-container{
    border: 2px blue solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    margin-left: 6.8rem;
    width: 20rem;
    height: 2.8rem;
} 
.bottom-container #line{
    border-left: 2px gray solid;
    height: 1.6rem;
    
    margin-right: 1rem;
    /* padding-right: 1rem; */
    margin-left: 1rem;
}
.button1{
    border-radius: 4px;
    border: solid 1px #4267B2;
    background: #4267B2;
    color: #FFF;
    padding: 1rem 3rem;
    text-decoration: none;
    margin-left: 0.6rem;
}
.button2{
    border-radius: 4px;
    border: solid 1px rgb(160, 56, 56);
    background: rgb(160, 56, 56);
    color: #FFF;
    padding: 1rem 3rem;
    text-decoration: none;
    margin-left: 0.6rem;
}
.button3{
    border-radius: 4px;
    border: solid 1px #95b7e0;
    background: #96b7e0;
    color: #FFF;
    padding: 1rem 3.4rem;
    text-decoration: none;
    margin-left: 0.6rem;
}
