*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 } 
 #out-container{
    border: 2px black solid;
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;

} 
 .right-container , .left-container{
    border: 2px red solid;
    width: 15.3rem;
    height: 17rem;
    
} 
 .middle-container{
    border: 2px black solid;
    width: 4rem;
    height: 17rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    }
.middle-container div{
    border-left: 2px gray solid;
    height: 15rem;
}
.bottom-container{
    border: 2px blue solid;
    width: 35rem;
    height: 3rem;
} 
